@tailwind base;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind components;

@tailwind utilities;
.text-align-inherit {
    text-align: inherit;
}

.animate-flip {
    animation-name: anim-flip;
}

@keyframes anim-flip {
    0%   {transform: scaleX(1);}
    49%  {transform: scaleX(1);}
    50%  {transform: scaleX(-1);}
    100% {transform: scaleX(-1);}
}